﻿<EditForm Model="@Crew" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="Name">Name: </label>
        <div>
            <InputText class="form-control" @bind-Value="@Crew.Name" />
            <ValidationMessage For="@(() => Crew.Name)" />
        </div>
    </div>
    <div class="form-group">
        <label for="DateOfBirth">Date of birth: </label>
        <div>
            <InputDate class="form-control" @bind-Value="@Crew.DateOfBirth" />
            <ValidationMessage For="@(() => Crew.DateOfBirth)" />
        </div>
    </div>
    <InputImage Label="Crew Image" ImageUrl="" OnImageSelect="@ImageSelected" />
    <div class="form-group form-markdown">
        <InputMarkdown Label="Biography" @bind-Value="@Crew.Biography" For="@(() => Crew.Biography)" />
    </div>
    <input type="submit" value="Save" class="btn btn-primary" />
</EditForm>