﻿@typeparam TItem

<div class="blazored-typeahead">
    <div class="blazored-typeahead__controls">
        <input type="text" class="@Class"
               autocomplete="off"
               placeholder="@Placeholder"
               @bind-value="@SearchText"
               @bind-value:event="oninput"
               @onclick="@ShowResults"
               @onfocusout="@HideResults" />
    </div>
    @if (_isSearching)
    {
        <div class="blazored-typeahead__results">
            <div class="blazored-typeahead__result">
                <span>Loading...</span>
            </div>
        </div>
    }
    else if (ShouldShowResult())
    {
        <div class="blazored-typeahead__results">
            @foreach(var item in _searchResult)
            {
                <div @key="@item" 
                     @onclick="@(() => SelectResult(item))"
                     @onmouseover="@OnMouseOverResult"
                     @onmouseout="@OnMouseOutResult"
                     class="blazored-typeahead__result">
                    @ResultTemplate(item)
                </div>
            }
        </div>
    }
    else if (ShowNotFound())
    {
        <div class="blazored-typeahead__results">
            @if (NotFoundTemplate != null)
            {
                <div class="blazored-typeahead__result">
                    @NotFoundTemplate
                </div>
            }
            else
            {
                <div class="blazored-typeahead__result">
                    No Result found.
                </div>
            }
        </div>
    }
</div>