﻿<EditForm Model="@Genre" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Name: </label>
        <InputText class="form-control" @bind-Value="@Genre.Name" />
        <ValidationMessage For="@(() => Genre.Name)" />
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
</EditForm>