﻿<div class="form-group">
    <label>@Label: </label>
    <div>
        <input type="file" @ref="@_elementReference" @onchange="@OnImageChange" accept=".jpg,.jpeg,.png" />
    </div>
</div>
<div>
    @if (!string.IsNullOrEmpty(_imageBase64))
    {
        <div style="margin: 10px">
            <img style="width: 200px" src="data:image/jpeg;base64,@_imageBase64" />
        </div>
    }

    @if (!string.IsNullOrEmpty(ImageUrl))
    {
        <div style="margin: 10px">
            <img style="width: 200px" src="@ImageUrl" />
        </div>
    }
</div>