﻿<EditForm Model="@Movie" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Title: </label>
        <div>
            <InputText class="form-control" @bind-Value="@Movie.Title" />
            <ValidationMessage For="@(() => Movie.Title)" />
        </div>
    </div>

    <div class="form-group form-markdown">
        <InputMarkdown Label="Plot" @bind-Value="@Movie.Plot" For="@(() => Movie.Plot)" />
    </div>

    <div class="form-group">
        <label>Trailer</label>
        <div>
            <InputText class="form-control" @bind-Value="@Movie.Trailer" />
            <ValidationMessage For="@(() => Movie.Trailer)" />
        </div>
    </div>
    <div class="form-group">
        <InputCheckbox @bind-Value="@Movie.InTheaters" />
        <label>In Theater</label>
    </div>
    <div class="form-group">
        <label>Release Date: </label>
        <div>
            <InputDate class="form-control" @bind-Value="@Movie.ReleaseDate" />
            <ValidationMessage For="@(() => Movie.ReleaseDate)" />
        </div>
    </div>

    <InputImage Label="Poster" ImageUrl="" OnImageSelect="@PosterSelected" />

    <MultipleSelector Selected="@_selected" Deselected="@_deselected" />

    <div class="form-group">
        <label>Actors: </label>
        <div>
            <MultipleSelectorTypeahead Placeholder="Search Actor"
                                       InputClass="form-control"
                                       SearchMethod="@SearchActorsAsync">
                <SearchResultTemplate Context="actor">
                    <img style="width: 50px" src="@actor.Picture"/>
                    @actor.Name
                </SearchResultTemplate>
                <SelectedItemTemplate Context="selectedActor">
                    <img style="width: 50px" src="@selectedActor.Picture" />
                    @selectedActor.Name
                </SelectedItemTemplate>
            </MultipleSelectorTypeahead>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Save" />
</EditForm>