﻿@typeparam T

<CustomTypeahead Placeholder="@Placeholder"
                 Class="@InputClass"
                 SearchMethod="@((string searchText) => SearchMethod(searchText))"
                 ResultSelected="@((T item) => SelectResult(item))">
    <ResultTemplate>
        @SelectedItemTemplate(context)
    </ResultTemplate>
</CustomTypeahead>

<ul class="list-group">
    @foreach (var item in SelectedElements)
    {
        <li class="list-group-item list-group-item-action"
            draggable="true"
            @ondragstart="@(() => DragStart(item))"
            @ondragover="@(() => DragOver(item))">
            @SelectedItemTemplate(item)
            <button type="button" class="close" aria-label="Close"
                    @onclick="@(() => SelectedElements.Remove(item))">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
    }
</ul>