﻿<div class="multiple-selector">
    <ul class="selectable-ul">
        @foreach (var item in Deselected)
        {
            <li @onclick="@(() => Select(item))">@item.Value</li>
        }
    </ul>
    <div class="multiple-selecto-buttons">
        <button type="button" @onclick="@SelectAll">@(">>")</button>
        <button type="button" @onclick="@DeselectAll">@("<<")</button>
    </div>
    <ul class="selectable-ul">
        @foreach (var item in Selected)
        {
            <li @onclick="@(() => Deselect(item))">@item.Value</li>
        }
    </ul>
</div>