﻿@import url("blazored-typeahead.css");

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'), url('../fonts/poppins-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v9-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/poppins-v9-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Poppins Italic'), local('Poppins-Italic'), url('../fonts/poppins-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v9-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}

body {
    font-family: "Poppins", Arial, sans-serif;
}

.individual-movie-container {
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: center;
}

    .individual-movie-container p {
        max-width: 225px;
        height: 44px;
        font-size: 15px;
        font-weight: bold;
    }

.movie-poster {
    width: 225px;
    height: 300px;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-markdown {
    display: flex;
    flex-wrap: wrap;
}

    .form-markdown textarea {
        width: 400px;
        height: 500px;
        margin-right: 15px;
    }

    .form-markdown .markdown-container {
        border: 1px dashed black;
        width: 400px;
        height: 500px;
    }

.multiple-selector {
    display: flex;
}

.selectable-ul {
    list-style-type: none;
    width: 200px;
    height: 200px;
    overflow-y: auto;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

    .selectable-ul li {
        cursor: pointer;
        border-bottom: 1px solid #eee;
        padding: 2px 10px;
        font-size: 14px;
    }

        .selectable-ul li:hover {
            background-color: #08c;
        }

.multiple-selecto-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

    .multiple-selecto-buttons button {
        padding: 5px;
    }