﻿@page "/movies/search"

<h3>Movie Search</h3>

<div class="form-inline">
    <div class="form-group mb-2">
        <label for="title" class="sr-only">Title</label>
        <input type="text" id="title" class="form-control" placeholder="Movie Titlle"
               @bind-value="@_title" @bind-value:event="oninput" 
               @onkeypress="@((KeyboardEventArgs e) => TitleKeyPress(e))" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <select class="form-control" @bind="@_selectedGenre">
            <option value="0">Select a genre</option>
            @foreach (var genre in _genres)
            {
                <option value="@genre.Id">@genre.Name</option>
            }
        </select>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="upcomingReleases" @bind="@_upcomingReleases" />
        <label class="form-check-label" for="upcomingReleases">Upcoming Releases</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="inTheaters" @bind="@_inTheaters" />
        <label class="form-check-label" for="inTheaters">In Theaters</label>
    </div>

    <button type="button" class="btn btn-primary mb-2 mx-sm-3" @onclick="Search">Search</button>
    <button type="button" class="btn btn-danger mb-2 mx-sm-3" @onclick="Clear">Clear</button>
</div>

<MoviesList Movies="@_movies"/>